:root {
  --primary-color: #3A3A3B;
  --secondary-color: #538D4E;
  --accent-color: #B59F3B;
  --bg-color: #121214;
}

body {
  background: var(--bg-color);
  color: #fff;
  font-family: 'Clear Sans', 'Helvetica Neue', 'Arial, sans-serif';
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 170px);
  padding-top: 50px;
}