:root {
  --primary-color: #3a3a3b42;
  --secondary-color: #538D4E;
  --accent-color: #B59F3B;
  --accent-color2: #3A3A3B;
  --bg-color: #121214;
}

.App {
  text-align: center;

  color: #fff;
}

body {
  background: var(--bg-color);
  padding: 0%;
  margin: 0;
  font-family: 'Clear Sans', 'Helvetica Neue', 'Arial, sans-serif';
}

.game {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-top: 50px;
}

#correct {
  background-color: var(--secondary-color);
}

#almost {
  background-color: var(--accent-color);
}

#wrong {
  background-color: var(--accent-color2);
}

/* for ipad */
@media screen and (max-width: 1024px) {
  .App {
    width: 90%;
  }

}


/* for iphone */
@media screen and (max-width: 800px) {
  .App {
    width: 90%;
  }
}