:root {
  --primary-color: #3A3A3B;
  --secondary-color: #538D4E;
  --accent-color: #B59F3B;
  --bg-color: #121214;
}

.App {
  text-align: center;
  background: var(--bg-color);
  color: #fff;
}

body {
  padding: 0%;
  margin: 0;
  font-family: 'Clear Sans', 'Helvetica Neue', 'Arial, sans-serif';
}

.game {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-top: 50px;
}

#correct {
  background-color: var(--secondary-color);
}

#almost {
  background-color: var(--accent-color);
}

#wrong {
  background-color: var(--primary-color);
}